@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#343A40;
    --secondary-color: #212529;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--primary-color);
}

nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    
}
nav a{
    text-decoration: none;
}
.sign {
    position: relative;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #FFF5EE,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 0.6rem white, 0 0 1.5rem white,
      -0.2rem 0.1rem 1rem white, 0.2rem 0.1rem 1rem white,
      0 -0.5rem 2rem white, 0 0.5rem 3rem white;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: white;
      text-shadow: 0 0 0.6rem white, 0 0 1.5rem white,
        -0.2rem 0.1rem 1rem white, 0.2rem 0.1rem 1rem white,
        0 -0.5rem 2rem white, 0 0.5rem 3rem white;
    }
    28%,
    33% {
      color: white;
      text-shadow: none;
    }
    82%,
    97% {
      color: white;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: 	#FFF5EE;
      text-shadow: none;
    }
    100% {
      color: white;
      text-shadow: 0 0 0.6rem white, 0 0 1.5rem white,
        -0.2rem 0.1rem 1rem white, 0.2rem 0.1rem 1rem white,
        0 -0.5rem 2rem white, 0 0.5rem 3rem white;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: white;
    font-family: inherit;
}
.search:focus{
    outline: 0;
    background-color: var(--primary-color);
}
.search::placeholder{
    color: wheat;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.movie{
    width: 250px;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img{
    width: 100%;
}
.movie-info{
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 00.5rem 1rem 1rem;
}
.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
.movie-info span.green{
    color: lightgreen;
}
.movie-info span.red{
    color: red;
}
.movie-info span.orange{
    color: orange;
}

.overview{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: whitesmoke;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
.movie:hover .overview{
    transform: translateY(0);
}
 
#tags{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}
.tag{
    color: wheat;
    padding: 10px 15px;;

}
